
<div class="login_container">
    <h2>Editing "<%= @link.name %>"</h2>

    <%= render partial: "form" %>
</div>

<div class="tag_sidebar">
    <h3>Tags</h3>
    <h4>(Click to Delete)</h4>
    <div class="links_edit_tag_container">
        <ul>
            <% @link.tags.each do |tag | %>
                <li>
                    <%= link_to tag.name, tag_path(tag.id), method: 'delete'  %>      
                </li>
            <% end  %>
        </ul>
    </div>

</div>
