<div class="login_container">

    <h2>All Links</h2>
    <div class="login_form" id="links_list">
         

        <ul>
            <% @links.each do |link| %>
                <% link.hooks.each do |hook| %>
                    <% if hook.user.id == @current_user.id %>
                        <li><strong><%=  link_to link.name, edit_link_path(link.id) %>:</strong> <%= link_to link.url  %></li>
                        <li class="links_notes"><%= link.notes %></li>
                    <% end  %>
                <% end  %>    
            <% end  %>
        </ul>
        <%= link_to 'Add New Link', new_link_path, class:'button' %>
    </div>
        

</div>

