
<h2>My links</h2>
    <%= link_to 'Add New Link', new_link_path %>

<ul>
    <% @links.each do |link| %>
        <% link.hooks.each do |hook| %>
            <% if hook.user.id == @current_user.id %>
                <li><strong><%=  link_to link.name, link_path(link.id) %>:</strong> <%= link_to link.url  %></li>
            <% end  %>
        <% end  %>    
    <% end  %>
</ul>
