
<h2 class="hooks title">My Hooks</h2>

<div class="index_box">

<% @hooks.each do |hook| %>    
    <% if @current_user.present? && hook.user.id == @current_user.id %>
    
        <div class="hook_container">
            <div class="color_label", style= "background-color:<%= hook.color %>">
            </div>
            <h3 class="hook_title"><%= link_to hook.title, hook_path(hook.id) %>
            </h3>
            <% hook.links.each do |l| %>
                <p><%= l.name %></p>
       
            <% end %>
        <%= link_to image_tag("plus.png"), new_link_path, class:"add_icon", value:hook.id  %>
            
        </div>  
    <% end %> 

       
   
<% end %>

</div>
