/*Universal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

:root{
    --rubine-red: hsla(335, 100%, 42%, 1);
    --gold-metallic: hsla(48, 100%, 42%, 1);
    --midnight-blue: hsla(239, 94%, 19%, 1);
    --star-command-blue: hsla(201, 100%, 36%, 1);
    --pacific-blue: hsla(190, 100%, 42%, 0.8);
    --middle-blue: hsla(189, 75%, 75%, 1);
    --light-cyan: hsla(190, 77%, 88%, 0.6);
    --side_bar_width: 15vw;
    --header_height: 15vh;
    --menu_highlight: rgba(61, 61, 61, 0.2);
    --gray_text: rgba(61, 61, 61, 0.8);

}

html{
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    
    
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--midnight-blue);
}

body{
    background-color: var(--light-cyan);

}

input {
    margin: 10px;
}

.sidebar_container ul{
    width: 100%;
}

.sidebar_container li{
    border-top: 2px solid #fff;
    
}

.sidebar_container a{
    padding: 10px;

    
}

.sidebar_container a::after{
    opacity: 1;
    content: '';
    display: block;
    text-align: start;
    width: 50%;
    height: 0.1em;
    background-color: var(--rubine-red);
    transition: opacity 1000ms, transform 1000ms;
    transform: scale(0);
    transform-origin: left;

}

.sidebar_container a:hover::after,
.sidebar_container a:focus::after{

    /* transform: translate3d(0, 0.2em, 0); */
    transform: scale(1);
}

/*Header */
header {
    background-color: var(--star-command-blue);
    height: var(--header_height);
    display: inline-flex;
    justify-items: right;
    width: 100%;
    z-index: -30;
    border-bottom: 6px solid var(--light-cyan);

}

header ul  {
    display: inline-flex;
}

header a{
    color: #fff;
}

.hookie_title_container{
    position: absolute;
    right: 5vw;
}

/* Main title on login page and in header */
header h1, .title_hookie {
    text-align: end;
    font-size: 3em;
    color:  var(--rubine-red);
}


/* user container */

.user_container {
    background-color: var(--star-command-blue);
    width: var(--side_bar_width);
    color: #fff;
    height: 14vh;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    width: 19vw;
}
/* The signin and signup buttons when logged out */
.logged_out{
    
    width: 15vw;
    padding: 10px;
    
}

.logged_out ul{    
    margin-left: 25%;
    text-align: center;
    
}

.logged_out li{
    padding: 10px;
    border: 2px solid #fff;
    width: 8vw;
    padding: 15px;
    margin-right: 10px;
    border-radius: 50px;
    
}

.logged_out li:hover{
   cursor: pointer;
   background-color: var(--rubine-red)
    
}


 

.profile_pic_container{
    margin-right: 5px;
}

.user_pic{
    background-color: #fff;
    border-radius: 50%;
    max-width: 2.5vw;

}

#user_menu_chevron {
    max-width: 1vw;
    border-radius: 50%;
}

#user_menu_chevron:hover {
    background-color: var(--rubine-red);
    cursor: pointer;
}

.hidden_user_menu {
    display: none;
    position: absolute;
    top: 9vh;
    left: 4vw;
    width: 8vw;
    background-color: var(--light-cyan);
    padding: 2px;
    border: 2px solid   #fff;
    
}

.hidden_user_menu ul{
    display: block;
    
}

.hidden_user_menu a {
    color: var(--midnight-blue);
   
}

.hidden_user_menu li:hover {
    background-color: rgba(61, 61, 61, 0.2);
   
}


/* Search Bar*/
.search_container {
    background-color: var(--star-command-blue);
    
}

#query{
    width: 100%;
    height: 8vh;
    margin: 0;
    z-index: 10;
}

#search_button{
    min-height: 4vh;
    position: absolute;
    left: 90vw;
    top: 15vh;
    background-color: var(--rubine-red);
    border: none;
    border-radius: 15%;
    padding: 5px;
    
}

#search_button:hover{
    cursor: pointer;
   
}


/*Sidebar Container*/
.sidebar_container{
    display: flex;
    min-height: 100%;
    background-color: var(--star-command-blue);
    min-width: 15vw;
    font-size: 0.6rem;
    line-height: 2;
    border-right: 6px solid var(--light-cyan);
    text-align: left;
    
    
}

.sidebar_container a {
    color:#fff;
}

#show_all_links {
    border-bottom: 2px solid #fff;
}

/*Main container (contains page content) */
/* Do not touch */
.main_container {
    display: flex;
}


/* Hidden Features */

.hidden{
    display: flex;
    align-items: center;
}





  /*New Link For */
.new_link_form {
    border: 1px solid var(--pacific-blue);
    padding: 10px;
    max-width: 100%;
    font-size: 0.8em;
    border-radius: 5px;
    margin-bottom: 10px;
}

.new_link_form input, select {
    max-width: 15vw;
    font-size: 0.8em;
    border-radius: 5px;
    border: 2px solid var(--gray_text);

}


.tags {
    color:  #fff;
    font-size: 0.6em;
    background-color: var(--gold-metallic);
    display: inline-flex;
    font-weight: 700;
    border-radius: 15px;
    padding: 5px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/*edit hook container */
.edit_hook_container {
    margin: 5vh;
    padding: 10px;
}
