/*Universal Styles*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:ital,wght@0,400;0,600;1,400&display=swap');

:root{
    --rubine-red: hsla(335, 100%, 42%, 1);
    --gold-metallic: hsla(48, 100%, 42%, 1);
    --midnight-blue: hsla(239, 94%, 19%, 1);
    --star-command-blue: hsla(201, 100%, 36%, 1);
    --pacific-blue: hsla(190, 100%, 42%, 1);
    --middle-blue: hsla(189, 75%, 75%, 1);
    --light-cyan: hsla(190, 77%, 88%, 1);
    --side_bar_width: 15vw;

}

html{
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    
    
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
    color: var(--midnight-blue)
}

body{
    background-color: var(--light-cyan);

}

input {
    margin: 10px;
}


/*Header */
header {
    background-color: var(--star-command-blue);
    height: 10vh;
    display: inline-flex;
    justify-items: right;
    width: 100%;
    z-index: -30;
}

header ul  {
    display: inline-flex;
}

header a{
    color: #fff
}


/* user container */

.user_container {
    position: absolute;
    left: 0;
    background-color: rgb(1, 107, 163);
   
    width: var(--side_bar_width);
    color: #fff;
    height: 10vh;
    font-size: 0.5em;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    
}

.logged_out ul{
    width: 8vw;
}

.logged_out li{
    padding: 10px;
    width: 3vw;
}



.user_pic{
    max-height: 40%;
    max-width: 40%;
    background-color: #fff;
    border-radius: 50%;

}




/* Search Bar*/
.search_container {
    background-color: var(--star-command-blue);
    z-index: 50;
}

#query{
    width: 100%;
    height: 8vh;
    margin-top: -5px;
    z-index: 10;
}

#search_button{
    height: 4vh;
    position: absolute;
    right: 0;
    top: 11vh;
    border: none;
    background-color: #fff;

    
}


/*Sidebar Container*/
.sidebar_container{
    background-color: var(--star-command-blue);
    height: 100vh;
    width: 15vw;
    font-size: 0.8rem;
    line-height: 2;
    
}

.sidebar_container a {
    color:#fff
}


/*Main container (contains page content) */

.main_container {
    position: absolute;
    left: 20vw;
    top: 20vh;
}   


/* Hooks Containers */

.hook_container {
    min-height: 25vh;
    line-height: 1.5;
    border-radius: 10px;
    background-color: #fff;
    color: rgba(61, 61, 61, 0.8);
}

.color_label{
    content: "";
    position: relative;
    height: 10px;
    top: 0;
    left: 0;
    width: 100%;
    margin-top: 0;
}

